body, html {
    height: 100%;
}

.main-container {
  height: 700px;
  margin-top: 50px;
}

.main-image{
  background-image: url(../assets/stars_hollow.jpg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-container {
  background-color: #8e8e8e;
  min-height: 500px;
}

.navbar {
  font-size: 130%;
}
